{% extends "base_layout.html" %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
<main>
    <h1>Article List</h1>

    <div class="articles">
        {% for element in articles %}
            <div class="article__item">
                <h2>
                    <a href="{% url 'articles:detail' slug=element.slug %}">
                        {{ element.title }}
                    </a>
                </h2>
                <p>
                    {{ element.snippet }}
                </p>
                <time>
                    {{ element.date }}
                </time>

                {% if user.is_authenticated %}
                    <h2>
                        <a href="{% url 'articles:create'%}">Create article</a>
                    </h2>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</main>
{% endblock content %}